
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #43469f;
  }

  main {
    position:relative;
    flex: 1 0 auto;
    overflow:hidden;
  }

#profile{
    width:100%;
    height:100vh;
}

#movie{
    position:absolute;
    top:0;
    left: -100vw;
    background-color:#377db0;
    height:100vh;
    width:100vw;
    z-index:2;
}

#games{
    position:absolute;
    top:0;
    right:-100vw;
    background-color: #5e39ab;
    height:100vh;
    width:100vw;
    z-index:2;
}

.col.s12>.btn-large{
    width:100%;
    margin-top:5vh;
}

#profileimage{
    margin-top:15vh;
    margin-bottom:5vh;
}

.ui-loader{
    display:none;
}

footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
}

.sortable-handler {
  touch-action: none;
}

.carousel{
    height: 43vh;
}
.title{
    font-family: 'Orbitron';
    font-size: 2em;
    margin-top: 5%;
    margin-left: 6%;
    margin-bottom: 3%;
    color: white;
}

.category{
    position: absolute;
    font-family: 'Orbitron';
    font-size: 1.5em;
    color: white;
    bottom: 2%;
    left: 0;
    right: 0;
}

.information{
    position: absolute;
    right: -10%;
    top: -10%;
    background: none;
    color: #e53935;
    border: none;
}

.info{
    background-color: white;
    font-size: 3.5em;
}

.indent{
    border-style: outset none inset none;
}

#indentMovie{
    background-color: #0b6685;
}

#indentGames{
    background-color:#370b87;
}

.carousel .carousel-item {
    top: -12%;
}

.coverArt{
    position:relative;
}

.informationModal{
    position: absolute;
    right: 2%;
    top: -12%;
    background: none;
    color: #e53935;
    border: none;
    z-index: 10;
}

.coverart{
    height:10vh;
    width:auto;
}

.infoModal {
    background-color:white;
    font-size:1.5em;
}

#overview{
    width: auto;
    height: 18vh;
    float: left;
    margin-right: 10%;
}

.search{
    margin-top:8%;
}

#loginPage{
    height:100vh;
}

/* label color */
.input-field label {
    color:#FFFF;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #FFFF;
    border-bottom: 1px solid #FFF;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #FFF;
    box-shadow: 0 1px 0 0 #FFF;
    color:#fff
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #FFF;
    box-shadow: 0 1px 0 0 #FFF;
    color:#fff;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #FFF;
    box-shadow: 0 1px 0 0 #FFF;
    color: #ffff
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #FFF;
  }

  .loginLink{
      color:white;
  }

  [type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border: 2px solid #FFF;
  }

  [type="checkbox"]:checked+span:not(.lever):before{
    border-right: 2px solid #e53935;
    border-bottom: 2px solid #e53935;
  }

  .error{
      color:#e53935;
  }

#movieSearch{
    color:black;
}

#gamecoverart{
    position:relative;
    margin-bottom: 2%;
}

.options{
    position: absolute;
    top: 1%;
    right:2%;
    color: white;
}

.gameInfo{
    position: absolute;
    right: -5%;
    top: -12%;
    background: none;
    color: #e53935;
    border: none;
    z-index: 10;  
}

.infocard{
    margin-bottom:10%;
}

.friendList{
    overflow-y:auto;
}

.inviteList{
    overflow-y:auto;
}

#friendSearch{
    color:black;
}

input.valid:not([type]), input.valid:not([type]):focus, input.valid[type="text"]:not(.browser-default), input[type="text"]:not(.browser-default):focus:not([readonly]), input.valid[type="text"]:not(.browser-default):focus, input.valid[type="password"]:not(.browser-default), input.valid[type="password"]:not(.browser-default):focus, input.valid[type="email"]:not(.browser-default), input.valid[type="email"]:not(.browser-default):focus, input.valid[type="url"]:not(.browser-default), input.valid[type="url"]:not(.browser-default):focus, input.valid[type="time"]:not(.browser-default), input.valid[type="time"]:not(.browser-default):focus, input.valid[type="date"]:not(.browser-default), input.valid[type="date"]:not(.browser-default):focus, input.valid[type="datetime"]:not(.browser-default), input.valid[type="datetime"]:not(.browser-default):focus, input.valid[type="datetime-local"]:not(.browser-default), input.valid[type="datetime-local"]:not(.browser-default):focus, input.valid[type="tel"]:not(.browser-default), input.valid[type="tel"]:not(.browser-default):focus, input.valid[type="number"]:not(.browser-default), input.valid[type="number"]:not(.browser-default):focus, input.valid[type="search"]:not(.browser-default), input.valid[type="search"]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
    border-bottom: 1px solid #e53935;
    -webkit-box-shadow: 0 1px 0 0 #e53935;
    box-shadow: 0 1px 0 0 #e53935;
}

#event_name{
    color:black;
}

#date{
    color:black;
}

.userProfileImage{
    margin-top:3%;
}

.userLogged{
    font-family: 'Orbitron';
    color:white;
}